* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(45deg, rgb(14, 38, 44), rgb(65, 54, 109));
    display: flex;
    flex-direction: row;
    height: 60px;
}

#container-header {
    display: flex;
    flex-direction: row;
    margin-left: 1000px;
    margin-top: 18px;
}

#title {
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    margin-left: 20px;
    margin-top: 10px;
}

.txt-header {
    color: #FFFFFF;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 30px;
}

main {
    height: 440px;
}

.mountains {
    width: 100vw;
    height: auto;
    position: absolute;
    opacity: 0.5;
}

h1 {
    position: absolute;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(4, 4, 54);
    margin-left: 80px;
    margin-top: 40px;
}

.sub {
    color: #FFFFFF;
    margin-top: 180px;
    font-size: 20px;
    font-family: Verdana;
    margin-left: 80px;
    margin-right: 70px;
    position: absolute
}

.button {
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 12px;
    position: absolute;
    margin-top: 300px;
    border-radius: 10px;
    background-color: rgb(70, 79, 158);
    margin-left: 80px;
    transition: background 0.5s ease-out
}

.text-button {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF
}

.button:hover {
    background-color: rgb(55, 153, 245);
}