.button-login {
    background-color: bisque;
    width: 70px;
    height: 20px;
    text-align: center;
}

.button-criar {
    background-color: aqua;
    width: 100px;
    height: 20px;
    text-align: center;
}